/.cursor
/.ngrok.exe.old
/.venv
/anthropic_01.png
/app_settings_data_retention.zip
/germany-english-garden-225.jpg
/germany-english-garden.jpg
/How to Scrape Any Website Using Python, Bright Data, and MCP Servers.png
/ngrok.exe
/TLOIK Wallpaper.jpg
/__pycache__